FORGEJO_URL=https://git.example.com
FORGEJO_TOKEN=forgejo_admin_token
FORGEJO_ORG_OWNER=forgejo_admin
DATA_PATH=/path/to/users/to/import
DEFAULT_PASSWORD=default_user_password
GITHUB_TOKEN=your_github_token
